<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="dist/materialize.min.css"/>
</head>
<body>
<div id="app" class="container">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">Goaway Server Admin Page</a>
        </div>
    </nav>
    <nav>
        <div class="nav-wrapper">
            <form>
                <div class="input-field">
                    <input id="search" type="search" required v-model="searchText"
                           placeholder="search for uri/description/filter name">
                    <label for="search"><i class="mdi-action-search"></i></label>
                    <i class="mdi-navigation-close"></i>
                </div>
            </form>
        </div>
    </nav>
    <div v-show="servicelist">
        <ul class="pagination">
            <div class="chip right">
                Total {{ TotalCount }}
            </div>
            <li v-for="index in pageTotal"
                v-bind:class="{'active': index == currentPage, 'waves-effect': index != currentPage}">
                <a @click="changePage(index)">{{ index }}</a></li>
        </ul>
        <ul class="collapsible popout" data-collapsible="accordion">
            <li v-for="(service, index) in servicelist">
                <div class="collapsible-header" :id="'item-'+service.Apiid"
                     :class="{'grey lighten-2': service.Status == 0}">
                    <i class="mdi-image-filter-drama"></i>
                    <span class="new badge left" data-badge-caption="save"
                          @click="save(service)"
                          v-show="editable(service)">
                    </span>
                    <span class="new badge left" data-badge-caption="cancel"
                          v-show="editable(service)" @click="cancel(index)"></span>
                    <span style="margin-left: 20px;">{{ service.Uri }}</span>
                    <div class="switch right">
                        <label>
                            Off
                            <input type="checkbox" :checked="service.Status == 1"
                                   @click="changeServiceStatus(service)">
                            <span class="lever"></span>
                            On
                        </label>
                    </div>
                </div>
                <div class="collapsible-body"
                     :class="{'grey lighten-2': service.Status == 0}"
                     :style="{display: showBody(service)}">
                    <div class="row" style="margin-left: 0; margin-bottom: 0;">
                        <p v-for="(filter, index) in service.Filters" class="left">
                            <input type="checkbox" class="filled-in"
                                   :disabled="service.Status == 0"
                                   v-bind:id="'filter-'+filter.Filterid"
                                   @click="changeFilterStatus(service, filter, index)"
                                   :checked="filter.Status == 1"/>
                            <label v-bind:for="'filter-'+filter.Filterid">{{ filter.Name }}</label>
                        </p>
                    </div>
                    <div class="row" style="margin-left: 0; margin-bottom: 0;">
                        <p v-for="filtername in leftFilter(allFilterNames, service.Filters)"
                           @click="addFilter(service, filtername)"
                           class="left">
                            <input type="checkbox" class="filled-in"
                                   disabled/>
                            <label>{{ filtername }}</label>
                        </p>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="pagination">
            <div class="chip right">
                Total {{ TotalCount }}
            </div>
            <li v-for="index in pageTotal"
                v-bind:class="{'active': index == currentPage, 'waves-effect': index != currentPage}">
                <a @click="changePage(index)">{{ index }}</a></li>
        </ul>
    </div>
</div>
<script type="text/javascript" src="dist/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="dist/materialize.js"></script>
<script type="text/javascript" src="dist/vue.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            forceReload: false,
            searchText: '',
            pageTotal: 1,
            currentPage: 1,
            TotalCount: 0,
            grey: false,
            servicelistbackup: [],
            allFilterNames: []
        },
        methods: {
            addFilter: function (service, name) {
                service.editable = true
                service.Filters = service.Filters ? service.Filters : []
                service.Filters.push({
                    Name: name,
                    Status: 1,
                    Filterid: name + '-' + service.Apiid,
                    New: true
                })
                this.$forceUpdate()
            },
            leftFilter: function (allfilternames, filters) {
                names = (filters || []).map(function (value) {
                    return value.Name
                })
                return allfilternames.filter(function (filter) {
                    return $.inArray(filter, names) === -1
                })
            },
            changePage: function (page) {
                this.currentPage = page
            },
            changeServiceStatus: function (service) {
                service.Status = service.Status === 1 ? 0 : 1
                service.editable = true
                this.$forceUpdate()
            },
            changeFilterStatus: function (service, filter, index) {
                if (service.Status === 1) {
                    if (!filter.New) {
                        //已经存在的过滤器, 直接修改状态
                        filter.Status = filter.Status === 1 ? 0 : 1
                        service.editable = true
                    } else {
                        //前台新添加的过滤器, 直接删除
                        service.Filters.splice(index, 1)
                    }
                    this.$forceUpdate()
                }
            },
            editable: function (service) {
                return !!service.editable
            },
            cancel: function (index) {
                this.servicelist[index] = JSON.parse(JSON.stringify(this.servicelistbackup[index]))
                this.$forceUpdate()
            },
            showBody: function (service) {
                return service.Filters ? 'block' : 'none'
            },
            save: function (service) {
                var _vm = this
                $.ajax({
                    url: '/admin/service/modify',
                    async: false,
                    method: 'post',
                    data: JSON.stringify(service),
                    success: function (data) {
                        if (parseInt(data) === 1) {
                            service.editable = false
                            Materialize.toast('sucess!', 1000)
                            _vm.forceReload = !_vm.forceReload

                        } else {
                            Materialize.toast('failed!', 1500)
                        }
                    },
                    error: function () {
                        Materialize.toast('failed!', 1500)
                    }
                })
            }
        },
        computed: {
            servicelist: {
                get: function () {
                    var _this = this
                    _this.forceReload = !_this.forceReload
                    var params = $.param({
                        prefix: _this.searchText,
                        desc: _this.searchText,
                        currentpage: _this.currentPage
                    })
                    var servicelist
                    $.ajax({
                        url: '/admin/service/list?' + params,
                        async: false,
                        success: function (data) {
                            servicelist = data.Mservicelist
                            _this.servicelistbackup = JSON.parse(JSON.stringify(servicelist))
                            var totalCount = data.TotalCount;
                            _this.pageTotal = parseInt((totalCount + 50 - 1) / 50)
                            _this.currentPage = parseInt(data.CurrentPage)
                            _this.TotalCount = parseInt(data.TotalCount)
                            _this.allFilterNames = data.AllFilterNames
                        }
                    });
                    return servicelist ? servicelist : []
                }
            }
        }
    })
</script>
</body>
</html>