<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="dist/materialize.min.css"/>
</head>
<body>
<div id="app" class="container">
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo center">Goaway Admin Page</a>
            <a class="waves-effect waves-light btn right"
               style="margin-top: 14px; margin-right: 15px;"
               @click="reloadServer()">
                RELOAD SERVER
            </a>
        </div>
    </nav>
    <nav>
        <div class="nav-wrapper">
            <form>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="search" type="search" required v-model="searchText"
                               placeholder="search for uri/description/filter name">
                        <a class="waves-effect waves-light btn right red lighten-2"
                           style="margin-top: -70px; margin-right: 12px;"
                           @click="addService()"
                           v-show="searchText">
                            ADD SERVICE
                        </a>
                        <label for="search"><i class="mdi-action-search"></i></label>
                        <i class="mdi-navigation-close"></i>
                    </div>
                </div>
            </form>
        </div>
    </nav>
    <div :style="{display: showResult()}">
        <ul class="pagination">
            <div class="chip right">
                Total {{ TotalCount }}
            </div>
            <li v-for="index in pageTotal"
                :class="{'active': index == currentPage, 'waves-effect': index != currentPage}">
                <a @click="changePage(index)">{{ index }}</a></li>
        </ul>
        <ul class="collapsible popout" data-collapsible="accordion">
            <li v-for="(service, index) in servicelist">
                <div :id="'item-'+service.Apiid" class="collapsible-header"
                     @click="changeCurrentEdit(service)"
                     :class="{'grey lighten-2': service.Status == 0}">
                    <i class="mdi-image-filter-drama"></i>
                    <div class="chip teal white-text"
                         @click.stop="save(service)"
                         v-show="service.operatable">
                        save
                    </div>
                    <div class="chip white-text grey"
                         v-show="service.operatable"
                         @click.stop="cancel(index)">
                        cancel
                    </div>
                    <div class="chip edit-btn teal lighten-2 white-text"
                         style="margin-right: -10px;"
                         @click.stop="setEditable(service)"
                         v-show="!service.editable && service === currentEditService && (service.Status === 1)">
                        edit
                    </div>
                    <span style="margin-left: 20px;"
                          :class="{'grey-text': !service.editable}">
                    {{ service.Uri }}
                    </span>
                    <div class="switch right" style="margin-left: 15px;">
                        <label>
                            Off
                            <input type="checkbox"
                                   :checked="service.Status == 1"
                                   @click="changeServiceStatus(service)">
                            <span class="lever"></span>
                            On
                        </label>
                    </div>
                    <span class="right right-align"
                          style="width: 200px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;"
                          :class="{'grey-text': !service.editable}"
                          :title="service.Desc">
                    {{ service.Desc }}
                    </span>
                </div>
                <div class="collapsible-body"
                     :class="{'grey lighten-2': service.Status == 0}"
                     :style="{display: showBody(service)}">
                    <div class="row" v-show="service.editable"
                         style="margin: 10px 30px -40px;">
                        <div class="input-field col s8">
                            <input v-model="service.Uri" id="first_name" type="text" class="validate">
                            <label for="first_name">URI</label>
                        </div>
                        <div class="input-field col s4">
                            <input v-model="service.Desc" id="last_name" type="text" class="validate">
                            <label for="last_name">DESCRIPTION</label>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 0px;">
                        <div class="col s4" v-for="host in allHosts">
                            <p class="left"style="padding-top: 10px; padding-bottom: 10px;">
                                <input :name="'host-'+service.Apiid" type="radio"
                                       :id="service.Apiid+'-'+host.ServiceId"
                                       :disabled="!service.editable"
                                       :checked="host.ServiceId == service.ServiceId"
                                       @click="changeService(service, host.ServiceId)"/>
                            <label :for="service.Apiid+'-'+host.ServiceId" :title="host.Name + ':' + host.Port">
                            {{ host.Name + ':' + host.Port }}
                            </label>
                            </p>
                        </div>
                    </div>
                    <div class="row" style="margin-left: 0; margin-bottom: 0;">
                        <div class="col s3" v-for="(filter, index) in service.Filters">
                            <p class="left"
                               style="padding-top: 10px; padding-bottom: 10px; padding-left: 20px;">
                                <input :id="'filter-'+filter.Filterid"
                                       type="checkbox" class="filled-in"
                                       :disabled="service.Status == 0 || !service.editable"
                                       @click="changeFilterStatus(service, filter, index)"
                                       :checked="filter.Status == 1"/>
                            <label :for="'filter-'+filter.Filterid">{{ filter.Name }}</label>
                            </p>
                        </div>
                    </div>
                    <div class="row" style="margin-left: 0; margin-bottom: 0;">
                        <div class="col s3" v-for="filtername in leftFilter(allFilterNames, service.Filters)">
                            <p @click="addFilter(service, filtername)"
                               style="padding-top: 10px; padding-bottom: 10px; padding-left: 20px;"
                               class="left">
                                <input type="checkbox" class="filled-in"
                                       :disabled="service.Status == 0 || !service.editable"/>
                            <label>{{ filtername }}</label>
                            </p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="pagination">
            <div class="chip right">
                Total {{ TotalCount }}
            </div>
            <li v-for="index in pageTotal"
                :class="{'active': index == currentPage, 'waves-effect': index != currentPage}">
                <a @click="changePage(index)">{{ index }}</a></li>
        </ul>
    </div>
    <div :style="{display: showNoResult()}">
        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header">
                    <span style="font-size: large;">No results found!</span>
                </div>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript" src="dist/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="dist/materialize.js"></script>
<script type="text/javascript" src="dist/vue.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            currentEditService: {},
            forceReload: false,
            searchText: '',
            currentPage: 1,
            TotalCount: 0,
            servicelistbackup: [],
            allFilterNames: [],
            allHosts: []
        },
        methods: {
            reloadServer: function () {
                var reload = confirm('reload server?');
                if (reload) {
                    $.ajax({
                        url: '/admin/server/reload',
                        async: false,
                        success: function (data) {
                            var code = parseInt(data)
                            if (code === 1) {
                                Materialize.toast('reload success!', 1000)
                            } else {
                                Materialize.toast('fail to reload!', 1000)
                            }
                        },
                        error: function () {
                            Materialize.toast('fail to reload!', 1000)
                        }
                    })
                }
            },
            setEditable: function (service) {
                service.editable = true
                service.operatable = true
                this.$forceUpdate()
            },
            //显示edit或隐藏edit
            changeCurrentEdit: function (service) {
                this.currentEditService = service
            },
            addService: function () {
                var uri = this.searchText;
                if (!uri || uri.trim() === '') {
                    Materialize.toast('empty uri!', 1000)
                    return
                }
                uri = uri.charAt(0) !== '/' ? '/' + uri : uri
                this.servicelist = this.servicelist ? this.servicelist : []
                var uris = this.servicelist.map(function (value) {
                    return value.Uri
                })
                if ($.inArray(uri, uris) !== -1) {
                    Materialize.toast('uri exists!', 1000)
                    return
                }
                this.servicelist.splice(0, 0, {
                    New: true,
                    Uri: uri,
                    Status: 1,
                    editable: true,
                    operatable: true
                })
                this.TotalCount = this.TotalCount + 1
            },
            showNoResult: function () {
                return this.servicelist && this.servicelist.length > 0 ? 'none' : ''
            },
            showResult: function () {
                return this.servicelist && this.servicelist.length > 0 ? '' : 'none'
            },
            deepCopy: function (target) {
                return JSON.parse(JSON.stringify(target))
            },
            addFilter: function (service, name) {
                if (service.Status === 1 && service.editable) {
                    service.editable = true
                    service.operatable = true
                    service.Filters = service.Filters ? service.Filters : []
                    service.Filters.push({
                        Name: name,
                        Status: 1,
                        Filterid: [name, service.Apiid].join('-'),
                        New: true
                    })
                    this.$forceUpdate()
                }
            },
            leftFilter: function (allfilternames, filters) {
                names = (filters || []).map(function (value) {
                    return value.Name
                })
                return allfilternames.filter(function (filter) {
                    return $.inArray(filter, names) === -1
                })
            },
            changePage: function (page) {
                this.currentPage = page
            },
            changeService: function (service, serviceId) {
                if (service.Status === 1 && service.editable) {
                    service.operatable = true
                    service.ServiceId = serviceId
                    this.$forceUpdate()
                }
            },
            changeServiceStatus: function (service) {
                service.Status = service.Status === 1 ? 0 : 1
                service.editable = service.Status === 1
                service.operatable = true
                this.$forceUpdate()
            },
            changeFilterStatus: function (service, filter, index) {
                if (service.Status === 1 && service.editable) {
                    service.operatable = true
                    if (!filter.New) {
                        //已经存在的过滤器, 直接修改状态
                        filter.Status = filter.Status === 1 ? 0 : 1
                        service.editable = true
                    } else {
                        //前台新添加的过滤器, 直接删除
                        service.Filters.splice(index, 1)
                    }
                    service.operatable = true
                    this.$forceUpdate()
                }
            },
            cancel: function (index) {
                this.servicelist[index].operatable = false
                if (this.servicelist[index] && !this.servicelist[index].New) {
                    this.servicelist[index] = this.deepCopy(this.servicelistbackup[index])
                    this.currentEditService = this.servicelist[index]
                } else {
                    this.servicelist.splice(index, 1)
                }
                this.$forceUpdate()
            },
            showBody: function (service) {
                return service.Filters ? 'block' : 'none'
            },
            save: function (service) {
                var _vm = this
                $.ajax({
                    url: '/admin/server/modify',
                    async: false,
                    method: 'post',
                    data: JSON.stringify(service),
                    success: function (data) {
                        service.operatable = false
                        if (parseInt(data) === 1) {
                            service.editable = false
                            Materialize.toast('success!', 1000)
                            _vm.forceReload = !_vm.forceReload
                        } else {
                            Materialize.toast('failed!', 1500)
                        }
                    },
                    error: function () {
                        Materialize.toast('failed!', 1500)
                    }
                })
            }
        },
        computed: {
            pageTotal: function () {
                var vm = this
                return parseInt((vm.TotalCount + 49) / 50)
            },
            servicelist: {
                get: function () {
                    var vm = this
                    vm.forceReload = !vm.forceReload
                    var params = $.param({
                        prefix: vm.searchText,
                        desc: vm.searchText,
                        currentpage: vm.currentPage
                    })
                    var servicelist
                    $.ajax({
                        url: '/admin/server/list?' + params,
                        async: false,
                        success: function (data) {
                            servicelist = data.Mservicelist
                            //保存原始的数据, 以供取消操作使用
                            vm.servicelistbackup = vm.deepCopy(servicelist)
                            var totalCount = data.TotalCount;
                            vm.currentPage = parseInt(data.CurrentPage)
                            vm.TotalCount = parseInt(data.TotalCount)
                            vm.allFilterNames = data.AllFilterNames
                            vm.allHosts = data.AllHosts
                        }
                    });
                    return servicelist ? servicelist : []
                },
                set: function (nv) {
                    console.log(nv)
                }
            }
        }
    })
</script>
<style>
    .chip {
        height: 25px;
        line-height: 25px;
    }
</style>
</body>
</html>