<html>
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="dist/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="dist/materialize.js"></script>
    <script type="text/javascript" src="dist/vue.js"></script>
    <link rel="stylesheet" href="dist/materialize.css" type="text/css"/>
</head>
<body>
<div id="app">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Goaway Server Admin Page</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="badges">标签</a></li>
                <li><a href="buttons">按钮</a></li>
                <li><a href="footer">页脚</a></li>
            </ul>
        </div>
    </nav>
    <nav>
        <div class="nav-wrapper">
            <form>
                <div class="input-field">
                    <input id="search" type="search" required v-model="searchText"
                           placeholder="search for uri/description/filter name">
                    <label for="search"><i class="mdi-action-search"></i></label>
                    <i class="mdi-navigation-close"></i>
                </div>
            </form>
        </div>
    </nav>
    <div v-show="servicelist">
        <ul class="pagination">
            <li class="waves-effect">Total {{ TotalCount }}</li>
            <li v-for="index in pageTotal"
                v-bind:class="{'active': index == currentPage, 'waves-effect': index != currentPage}"
            >
                <a @click="changePage(index)">{{ index }}</a></li>
        </ul>
        <ul class="collapsible" data-collapsible="accordion">
            <li v-for="service in servicelist">
                <div class="collapsible-header">
                    <i class="mdi-image-filter-drama"></i>
                    {{ service.Uri }}
                    <div class="switch">
                        <label>
                            Off
                            <input type="checkbox" :checked="checked(service.Status)" @click="changeStatus(service)">
                            <span class="lever"></span>
                            On
                        </label>
                    </div>
                </div>
                <div class="collapsible-body">
                    <p v-for="filter in service.Filters">
                        <input type="checkbox" class="filled-in" v-bind:id="filterId(filter.Filterid)"
                               :checked="checked(filter.Status)"/>
                        <label v-bind:for="filterId(filter.Filterid)">{{ filter.Name }}</label>
                    </p>
                </div>
            </li>
        </ul>
        <ul class="pagination">
            <li class="waves-effect">Total {{ TotalCount }}</li>
            <li v-for="index in pageTotal"
                v-bind:class="{'active': index == currentPage, 'waves-effect': index != currentPage}"
            >
                <a @click="changePage(index)">{{ index }}</a></li>
        </ul>
    </div>
    <div v-show="!servicelist">
        <div class="chip">
            no result found!
        </div>
    </div>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            searchText: '',
            pageTotal: 1,
            currentPage: 1,
            TotalCount: 0
        },
        methods: {
            checked: function (status) {
                return status === 1 ? 'checked' : ''
            },
            filterId: function (id) {
                return 'filter-' + id
            },
            changePage: function (page) {
                this.currentPage = page
            },
            changeStatus: function (service) {
                if (service.Status === 1) {
                    service.grey = 'grey'
                } else {
                    service.grey = ''
                }
            }
        },
        computed: {
            servicelist: {
                get: function () {
                    var _this = this
                    var params = $.param({
                        prefix: _this.searchText,
                        desc: _this.searchText,
                        currentpage: _this.currentPage
                    })
                    var servicelist
                    $.ajax({
                        url: '/admin/service/list?' + params,
                        async: false,
                        success: function (data) {
                            servicelist = data.Mservicelist
                            var totalCount = data.TotalCount;
                            _this.pageTotal = parseInt((totalCount + 50 - 1) / 50)
                            _this.currentPage = parseInt(data.CurrentPage)
                            _this.TotalCount = parseInt(data.TotalCount)
                        }
                    });
                    return servicelist ? servicelist : {}
                }
            }
        }
    })
</script>
</body>
</html>